body{
	background-color: MediumSeaGreen;
	color: black;
}

#links:hover{
	font-weight: bold;
}

#books{
	background-color: DodgerBlue;
}

#board{
	background-color: Gray;
}

#video{
	background-color: Tomato;
}
h1, h2{
    border-bottom-style: solid;
}